.input-marks {
    margin-left: 40px;
    margin-top: 30px;
}

form input {
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px;
    /* font-family: monospace; */
    width: 40%;
}

#btn {
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px 0px 10px 40px;
    background-color: var(--brand2);
    color: var(--white);
}